@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Roboto Flex";
	font-style: normal;
	font-weight: 100 1000;
	font-stretch: 0% 200%;
	src: url(https://fonts.gstatic.com/s/robotoflex/v9/NaNeepOXO_NexZs0b5QrzlOHb8wCikXpYqmZsWI-__OGfttPZktqc2VdZ80KvCLZaPcSBZtOx2MifRuWR28sPJtUMbsFEK6cRrleUx9Xgbm3WLHa_F4Ep4Fm0PN19Ik5Dntczx0wZGzhPlL1YNMYKbv9_1IQXOw7AiUJVXpRJ6cXW4O8TNGoXjC79QRyaLshNDUf9-EmFw.woff2)
		format("woff2");
}

.max-width {
	@apply max-w-[1440px] mx-auto;
}

.custom-stroke {
	-webkit-text-stroke: 2px black;
	paint-order: stroke fill;
}
