@tailwind base;
@tailwind components;
@tailwind utilities;


html {
	scroll-behavior: smooth;
	scroll-margin-top:50px;
}

@font-face {
	font-family: "BasementGrotesque";
	src: url("/fonts/BasementGrotesque-Black_v1.202.woff2") format("woff2"),
		url("/fonts/BasementGrotesque-Black_v1.202.woff") format("woff"),
		url("/fonts/BasementGrotesque-Black_v1.202.otf") format("opentype");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "Aileron";
	src: url("/fonts/aileron.regular.oft") format("oft");
}

body {
	font-family: "BasementGrotesque", sans-serif;
	line-height: 1.3;
}

.headerFontStyle {
	line-height: 1.2;
}
.max-width {
	@apply max-w-[1440px] mx-auto;
}

.custom-stroke {
	-webkit-text-stroke: 3.2px black;
	paint-order: stroke fill;
}

.text-underline {
	position: relative;
	display: inline-block;
}

.text-underline::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 9px;
	width: 100%;
	height: 16px;
	background-color: #fcd34d;
	z-index: -1;
}

.secondaryFont {
	font-family: "Aileron", sans-serif;
	font-weight: 500;
}

ul {
	list-style-type: square;
}

.perspective {
	perspective: 1300px;
}

.transform1 {
	transform: rotateX(0deg) rotateY(20deg);
	transform-style: preserve-3d;
}

.transform2 {
	transform: rotateX(0deg) rotateY(-20deg);
	transform-style: preserve-3d;
}
